<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>



</head>
<body>
	<div>


		<div class="container">
			<form name="blogform" novalidate>
				<div class="col-lg-8 col-md-offset-2">
					<div>
						<h1>Adding New Blog</h1>
						<br> {{error.message}} <label>Enter the Blog Title:</label> <input
							type="text" required="required" ng-model="blog.blogtitle" name="bf">
							<span ng-show="blogform.bf.$touched && blogform.bf.$error.required" style=color:red>You can't leave this empty</span>
					</div>
					<div>
						<label>Enter the Blog Content</label><br>

						<textarea rows="15" cols="70" required="required" ng-model="blog.blogcontent" name="bc"></textarea>
						<span ng-show="blogform.bc.$touched && blogform.bc.$error.required" style=color:red>You can't leave this empty</span>
					</div>
					<div></div>
					<input type="submit" value="addblog" class="btn btn-info"
						ng-click="saveBlog()" ng-disabled="blogform.$invalid">
				</div></form>
		</div>
	</div>
</body>
</html>